<div id="work"
  class="bg-gray-200 rounded-3xl p-8 flex flex-col items-center justify-center scroll-mt-24"
>
  <div>
    <div>
      <h2
        class="text-2xl tracking-tighter font-light lg:text-7xl text-orange-600  font-display"
      >
        A Brief intro of me :)
      </h2>
    </div>
    <div>
      <p class="text-2xl text-black mt-8 xl:text-xl">
        A community builder with huge passion for Low/No code tools. Loves FOSS tools. Loves to code and make life <i>more easy</i>. Tinkers with stuff! Breaks and fixes😉.
        <br>
        <span class="text-orange-600">#event-hoping | </span>
        <span class="text-orange-600">#Social Introvert</span>
      </p>
      <div class="flex mt-8 w-full">
        <a
          href="https://peerlist.io/abhiramnj"
          type="a"
          class="text-xl py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-orange-600 hover:bg-gray-200 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black inline-flex items-center justify-center ring-1 ring-transparent"
        >
          Know More🎉
        </a>
      </div>
    </div>
    
  </div>
</div>
