<footer
  class="grid grid-cols-1 lg:grid-cols-2 gap-2 max-w-7xl mx-auto col-span-full"
>
  <div id="socials" class="grid grid-cols-1 lg:grid-cols-2 gap-2">
    <div class="p-8 bg-gray-200 rounded-3xl">
      <h3 class="  font-display text-orange-600 text-base lg:text-xl">Socials</h3>
      <ul
        role="list"
        class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-gray-500 uppercase"
      >
      <li>
        <a href="https://t.me/twilightyabhi" class="hover:text-black">
          Telegram
        </a>
      </li>
        <li>
          <a href="https://www.instagram.com/abhiramhhh" class="hover:text-black">
            Instagram
          </a>
        </li>
        <li>
          <a href="https://twitter.com/TwilightyAbhi" class="hover:text-black">
            Twitter
          </a>
        </li>
        
        <li>
          <a href="mailto:abhiramnj+portfolio@gmail.com" class="hover:text-black">
            Email
          </a>
        </li>
        
      </ul>
    </div>

   
    <div class="p-8 bg-gray-200 rounded-3xl">
      <h3 class="  font-display text-blue-500 text-base lg:text-xl">Projects</h3>
      <ul
        role="list"
        class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-gray-500 uppercase"
      >
        <li>
          <a href="#" class="hover:text-black">
            Other Projects done.
          </a>
        </li>
      </ul>
    </div> 
  </div>

  <div class="p-8 bg-gray-200 rounded-3xl justify-end flex flex-col">
    <div>
      <p class="text-sm text-black">
        © 2024 Abhiram
      </p>

      <div class="gap-x-8 gap-y-6 mt-6">
        <div>
          <p class="text-sm text-gray-600 lg:col-span-2">
            Doing cool things that matter and impact!<br>
            
          Built using Astro & Tailwind CSS. 
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>
