<div class="flex flex-col gap-2">
  <div class="bg-green-600 rounded-3xl p-8">
    <p class="text-3xl leading-6 text-white font-display">Abhiram N J</p>
    <p class="text-sm mt-8 text-white">Curious Kid</p>
    <h2
      class="text-4xl mt-12 tracking-tighter  font-display font-normal md:text-8xl lg:text-6xl xl:text-6xl text-blance text-white">
      Community Builder | Tinkerer | Creator
    </h2>
  </div>
  <div class="bg-blue-400 rounded-3xl p-8 text-xl text-white">
    <div class="space-y-4">
      <p>
        I'm a great community evangelist and a <i>specialised genaralist.</i> Loves web devlopment and Low/No code tools. Feel free to get in touch with me.
      </p>
    </div>
    <br>
    <p>
      Found something interesting to talk about? 
      <a href="#socials" class="text-blue-950">⏤ Connect with me...</a>
    </p>
  </div>
</div>
